<?xml version="1.0"?>
<config>
	<modules>
		<Sigma_Look>
			<version>0.1.2</version>
		</Sigma_Look>
	</modules>
	<frontend>
        <routers>
            <look>
                <use>standard</use>
                <args>
                    <module>Sigma_Look</module>
                    <frontName>look</frontName>
                </args>
            </look>
        </routers>
        <layout>
            <updates>
                <look>
                    <file>look.xml</file>
                </look>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<menu>
			<look module="look">
				<title>Looks</title>
				<sort_order>73</sort_order>               
				<children>
					<categorylooks module="look">
						<title>Manage Categories</title>
						<sort_order>20</sort_order>
						<action>look/adminhtml_category/index</action>
					</categorylooks>
				</children>
				<children>
					<looks module="look">
						<title>Manage Looks</title>
						<sort_order>25</sort_order>
						<action>look/adminhtml_look/index</action>
					</looks>
				</children>
			</look>
		</menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <look translate="title" module="look">
                            <title>Looks</title>
                            <sort_order>60</sort_order>
                            <children>                                
                                <looks>
                                    <title>Manage Looks</title>
                                </looks>
                            </children>							
							<children>
								<categorylooks>
									<title>Manage Categories</title>								
								</categorylooks>
							</children>														
                       </look>
                   </children>
               </admin>
           </resources>
        </acl>    
		<layout>
			<updates>
				<look>
					<file>look.xml</file>
				</look>
			</updates>
		</layout>
    </adminhtml>

	<global>
		<models>
            <look>
                <class>Sigma_Look_Model</class>
                <resourceModel>look_resource</resourceModel>
            </look>
            <look_resource>
                <class>Sigma_Look_Model_Resource</class>
                <entities>
                    <look>
                        <table>look_entity</table>
                    </look>
					<product>
                        <table>look_product</table>
                    </product>
					<category>
                        <table>look_category</table>
                    </category>
                </entities>
            </look_resource> 
        </models>
		<events>
              <catalog_product_delete_after>
                    <observers>
                         <look_observer>
                            <type>singleton</type>
                            <class>Sigma_Look_Model_Observer</class>
                            <method>deleteRecord</method>
                         </look_observer>
                    </observers>
	        </catalog_product_delete_after>
			<catalog_controller_product_delete>
                    <observers>
                         <look_observer>
                            <type>singleton</type>
                            <class>Sigma_Look_Model_Observer</class>
                            <method>deleteRecord</method>
                         </look_observer>
                    </observers>
	        </catalog_controller_product_delete>
	    </events>
		<resources>
			<look_setup>
				<setup>
                    <module>Sigma_Look</module>
                </setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</look_setup>
			<look_write>
				<connection>
					<use>default_write</use>
				</connection>
			</look_write>
			<look_read>
				<connection>
					<use>default_read</use>
				</connection>
			</look_read>
		</resources>
		<blocks>
            <look>
                <class>Sigma_Look_Block</class>
            </look>
        </blocks>
        <helpers>
            <look>
                <class>Sigma_Look_Helper</class>
            </look>
        </helpers>		
	</global>
</config>